<!-- *stylist *clients -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Urbaca Salon</title>
    </head>
    <body>
        <div class="container">
<!--Header-->
            <div class="page-header">
                <h1>Urbaca Salon</h1>
            </div>
            <h2>Stylist: {{ stylist.getName }}</h2>
            <h3>Services: {{ stylist.getServices }}</h3>
            <h3>Phone: {{ stylist.getPhone }}</h3>
            {% if clients is not empty %}
            <h4>Clients:</h4>
                <ul>
                    {% for client in clients %}
                        <li><a href="/client/{{ client.getId }}">{{ client.getClient }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>This stylist does not have any clients yet.</p>
            {% endif %}
    <!--Add a client -->
            <form class="" action="/client/add/{{ stylist.getId }}" method="get">
                <button type="submit">Add a Client</button>
            </form>

    <!-- Update Stylist -->
            <form class="" action="/stylist/update/{{ stylist.getId }}" method="get">
                <button type="submit">Edit/Delete Stylist</button>
            </form>
    <!--Home button -->
            <form class="" action="/" method="get">
                <button type="submit">Home</button>
            </form>
        </div>
    </body>
</html>
